@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  
}

li, a, button{
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000507;
    text-decoration: none; 
}

header{
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(105, 129, 145);
}


.logo{
    cursor: pointer;
    margin-right: auto;

}

.navlinks{
   list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
    
}

.navlinks li a{
    transition:all 0.3s ease 0s;
}

.navlinks li a:hover{
    color: #f1fcff
}

button{
   padding: 9px 25px;
   background-color: rgb(228, 228, 228);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   margin-left: 20px;
}

button:hover {
    background-color: rgba(93, 253, 0, 0.8);

}
